

<!doctype html>
<html>
<head>
  <title>Socket.IO chat</title>
</head>
<body>

  <nav class="debateNav">
    <div class="nav-wrapper">
      <!-- <h3 class="topic">Topic is:</h3> -->
        <p class="debateTopic center">{{debate.debate_topic}}</p>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Action!</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="collapsible.html">Debites?</a></li>
      </ul>
    </div>
  </nav>

<div class="container">
<div class="row">

<br>
<br>

<div class="col s4 offset-s4">
  <div class="chatDiv ">
    <div id="messageDiv">
      <ul id="messages"></ul>
    </div>
      <form id="debateChat" action="">
        <input id="m" autocomplete="off" /><button>Send</button>
      </form>
  </div>
</div>

<div class="col s12 center">
  <h2>Votes</h2>
</div>

<div class="col s12 center">
  <div class="progress">
    <div class="determinate" style="width: 50%"></div>
  </div>
</div>


<div class="sides">
  <p class="sideAText">{{debate.sideA}}</p>
  <p class="sideBText">{{debate.sideB}}</p>
</div>

</div> <!--row endtag-->
</div> <!--container endtag-->

<div id="modal{{debate.id}}" class="modal">
  <h2>Who Won?</h2>
  <button class="sideAText">{{debate.sideA}}</button>
  <button class="sideBText">{{debate.sideB}}</button>
</div>

</body>
</html>
