<nav class="debateNav">
	<div class="nav-wrapper">
		<!-- <h3 class="topic">Topic is:</h3> -->
		<a href="/"><p class="debateTopic center"><span class="applesLogo">Apples</span> & <span class="orangesLogo">Oranges</span></p></a>
		<a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li class="grow"><a href="/">Home</a></li>
			<li class="grow"><a href="" class="createDebateNav">Create a Debate</a></li>
			<li class="grow"><a href="/archive">Archive</a></li>
		</ul>

		<ul class="side-nav" id="mobile-demo">
			<li class="grow"><a href="/">Home</a></li>
			<li class="grow"><a href="" class="createDebateNav">Create a Debate</a></li>
			<li class="grow"><a href="/archive">Archive</a></li>
		</ul>
	</div>
</nav>

	<div class="container">
		<div class="row">
			<div class="pageInfo" data-id="{{debate.id}}">
			</div>

			<h1>{{debate.debate_topic}}</h1>


			<br>
			<div class="col s12 center">
				<h3>Votes</h3>
			</div>

			<div class="col s12 center">
				<div class="progress">
					<div class="determinate" id="bar{{debate.id}}" style="width: {{debate.votesA}}%"></div>
				</div>
			</div>

			<div class="col s12 center">
				<div class="sides">
					<p class="sideAText">{{debate.sideA}}</p>
					<p class="sideBText">{{debate.sideB}}</p>
				</div>
			</div>

			{{#unless debate.archived}}
				<div class="col s12 center voteSpace" id="vote{{debate.id}}">
					<h3>Which is better??</h3>
					<div class="col s12 l6">
						<form action="/api/debates/{{debate.id}}/a?_method=PUT" method="POST" class="leftBtnForm">
							<button type="submit" class="sideAText arenaVote sideAVote grow" data-letter="a" data-id="{{debate.id}}">{{debate.sideA}}</button>
						</form>
					</div>

					<div class="col s12 l6">
						<form action="/api/debates/{{debate.id}}/b?_method=PUT" method="POST" class="rightBtnForm">
							<button type="submit" class="arenaVote sideBVote grow" data-letter="b" data-id="{{debate.id}}">{{debate.sideB}}</button>
						</form>
					</div>
					
				</div>
			{{/unless}}

			{{#if debate.archived}}
				<div class="col s12 center">
					<h2>{{debate.winner}} Wins!</h2>
				</div>
			{{/if}}
			<br>
			<br>
			<br>

			<div class="col s12 m6 offset-m3">
				<div class="chatDiv">
					<div id="messageDiv">
						<ul id="messages{{debate.id}}"></ul>
					</div>
				</div>

			<form id="debateChat" action="" data-id="{{debate.id}}">
				<input id="m" autocomplete="off" class="chatInput" /><button class="grow" id="chatButton" >Send</button>
			</form>
      </div>
		</div>

	</div>



    <div id="modal{{debate.id}}" class="modal">

    </div>
  </div>

<div id="modal" class="modal">
	<h2 class="createH2">Create a Debate</h1>
	<form action="/api/debates" method="POST" class="centerObj">
			<input type="text" name="topic" class="validate" required="required" placeholder="Ex. What is Better: Chinese Food vs Pizza"><br>
			<input type="text" name="sideA" class="validate" required="required" placeholder="Ex. Chinese Food"><br>
			<input type="text" name="sideB" class="validate" required="required" placeholder="Ex. Pizza"><br>
			<label>Max Number of Votes</label>
			<p class="range-field">
				<input type="range" name="maxVotes" id="test5" min="11" max="101" step="10" />
			</p>
			<input type="submit" name="submit" class="debateSubmit">
	</form>
</div>
</div>
